<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

<!--    <security-role>-->
<!--        <role-name>admin_role</role-name>-->
<!--    </security-role>-->
<!--    <security-role>-->
<!--        <role-name>user_role</role-name>-->
<!--    </security-role>-->

<!--    <security-constraint>-->
<!--        <web-resource-collection>-->
<!--            <web-resource-name>Bezpieczny kalkulator</web-resource-name>-->
<!--            <url-pattern>/calculator</url-pattern>-->
<!--            <http-method>POST</http-method>-->
<!--        </web-resource-collection>-->
<!--        <auth-constraint>-->
<!--            <role-name>admin_role</role-name>-->
<!--        </auth-constraint>-->
<!--    </security-constraint>-->

    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>
</web-app>